<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.achieveweb.dao.UserMapper">
    <select id="queryAll" resultType="com.le.achieveweb.entity.UserLogin">
        select *from sys_user
    </select>
    <select id="queryByName" resultType="com.le.achieveweb.entity.UserLogin">
        select *from sys_user
        where username = #{name}
    </select>
    <select id="queryPswByName" resultType="string">
        select password from sys_user
        where username = #{username}
    </select>
    <insert id="save">
        insert into sys_user(id,username, password) value (#{id},#{username},#{password})
    </insert>
    <delete id="deleteUser" parameterType="com.le.achieveweb.entity.UserLogin">
        delete from sys_user
        where username = #{username}
    </delete>

</mapper>