<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.achieveweb.mvc.dao.UserMapper">
    <select id="queryAll" resultType="com.le.achieveweb.mvc.model.entity.User">
        select *
        from sys_user
    </select>
    <select id="queryByName" resultType="com.le.achieveweb.mvc.model.entity.User">
        select *
        from sys_user
        where username = #{username}
    </select>
    <select id="queryByNameRole" resultType="com.le.achieveweb.mvc.model.entity.User">
        select *
        from sys_user
        where username = #{username} and role =#{role}
    </select>
    <select id="queryHashPswByName" resultType="string">
        select hashedPassword
        from sys_user
        where username = #{username}
    </select>
    <insert id="save">
        insert into sys_user(id, username, hashedPassword, role, created_at, update_at)
        value (#{id}, #{username}, #{password}, '1', #{createdAt}, #{updateAt})
    </insert>
    <update id="updateUserInfo" parameterType="com.le.achieveweb.mvc.model.entity.User">
        update sys_user
        set sex=#{sex}, email=#{email}, update_at=#{updateAt}
        where username = #{username} limit 1
    </update>
    <update id="updateUserPassword" parameterType="com.le.achieveweb.mvc.model.entity.User">
        update sys_user
        set hashedPassword=#{password}
        where username = #{username} limit 1
    </update>
    <delete id="deleteUser" parameterType="com.le.achieveweb.mvc.model.entity.User">
        delete
        from sys_user
        where username = #{username} limit 1
    </delete>

</mapper>