<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.achieveweb.mvc.dao.UserMapper">
    <select id="queryAll" resultType="com.le.achieveweb.mvc.model.entity.UserLogin">
        select *
        from sys_user
    </select>
    <select id="queryByNameRole" resultType="com.le.achieveweb.mvc.model.entity.UserLogin">
        select *
        from sys_user
        where username = #{username} and role =#{role}
    </select>
    <select id="queryHashPswByName" resultType="string">
        select hashedPassword
        from sys_user
        where username = #{username}
    </select>
    <insert id="save">
        insert into sys_user(id, username, hashedPassword,role) value (#{id}, #{username}, #{password},'1')
    </insert>
    <delete id="deleteUser" parameterType="com.le.achieveweb.mvc.model.entity.UserLogin">
        delete
        from sys_user
        where username = #{username} limit 1
    </delete>

</mapper>